{% autoescape off %}
Hello {{ user.get_username }},

You're receiving this email because you requested a password reset for your Justvybz account. If you didn't make this request, you can safely ignore this email.

To reset your password, please click the link below:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

This password reset link will expire in 24 hours.

If you have any questions, our support team is here to help at Justvybz@justvybz.com.

Best regards,
The Justvybz Team

---
This email was sent to {{ user.email }}.
You're receiving this email because a password reset was requested for your account.

Privacy Policy: {{ protocol }}://{{ domain }}{% url 'privacy' %}
Terms of Service: {{ protocol }}://{{ domain }}{% url 'terms' %}

© {% now "Y" %} Justvybz Inc. All rights reserved
{% endautoescape %} 