{% extends "base.html" %}


{% block content %}


    <h1>Are you sure you want to delete the following:</h1>
    <p> {{ object.comment_cont }}</p>

    <form method="POST" >
        {% csrf_token %}
        <button class='btn btn-danger'> Yes, delete</button>
    </form>

    <button class='btn btn-primary'><a href="#"> Yes, delete</a></button>

{% endblock %}


<div id="modal1" class="modal">
    <form method="POST" >
        {% csrf_token %}
        <div class="modal-content">


            <h4>Delete Comment</h4>

            <p>Are you sure you want to delete this comment?</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
            <button type="submit" class="btn-small waves-effect waves-green red">Delete book</button>
        </div>


    </form>
  </div>