{% extends "base.html" %}

<!--{% load static %}-->

{% block content %}

{% load crispy_forms_tags %}


<div class="row">

        <div class="col-md-8 mx-auto mt-5">
            <div class="center" style="">
                {% if title %}
                    <h5 class="text-center text-light">{{ title }}</h5>
                {% endif %}
            </div>
            <form style="margin:0 3%;" method='POST' action='.' enctype="multipart/form-data">
                <ul class="list-group">
                {% csrf_token %}
                  <li class="list-group-item border-0" >{{ form|crispy }}</li>

                    <li class="list-group-item border-0"><button class="btn neww-success" type="submit">My 2 cents</button></li>
                </ul>
            </form>

        </div>
</div>




<!--<form method="post">-->
<!--    {% csrf_token %}-->
<!--    &lt;!&ndash; Modal Structure &ndash;&gt;-->
<!--      <div id="modal1" class="modal">-->
<!--        <div class="modal-content">-->
<!--          <h4>{{title}}</h4>-->
<!--          <p>{{ form|crispy }}</p>-->
<!--        </div>-->
<!--        <div class="modal-footer">-->
<!--          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>-->
<!--        </div>-->
<!--      </div>-->

<!--</form>-->




{% endblock %}