{% extends "base.html" %}
{% load static %}

{% block content %}

{% load crispy_forms_tags %}


<div class="row">

        <div class="col s12 m8 l6 card right" style="width-max: 25em;margin-top:20%;">
            <div class="center" style="">
                {% if title %}
                    <h5 style="">{{ title }}</h5>
                {% endif %}
            </div>
            <form style="margin:0 3%;" method='POST' action='.' enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <ul class="center">
                    <li class=""><button class="btn row center deep-orange darken-3" type="submit" style="">My 2&#162</button></li>
                </ul>
            </form>

        </div>
</div>


{% endblock %}
