{% extends "base.html" %}
{% load static %}

{% block content %}

{% load crispy_forms_tags %}



<div class="container my-5 position-relative">
    <div class="col-sm-6 mx-auto">
        <small>
            <div class="card rounded-0" style="width-max: 25rem">
                <div class="card-header rounded-0 text-center" style="background:linear-gradient(rgba(0, 123, 255, 0.8),      rgba(0, 123, 255, 0.8)),url({% static 'snmov/img/kriheader.svg' %}); height:100%;width:100%;object-fit:cover;">
                    {% if title %}
                        <h4 style="padding:20px;color:#fff;margin:0;background-color: rgba(0, 0, 0, 0.8);">{{ title }}</h4>
                    {% endif %}
                </div>
                <form method='POST' action='.' enctype="multipart/form-data">
                    {% csrf_token %}
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{ form|crispy }}</li>
                    </ul>
                    <ul class="list-group list-group-flush text-center">
                        <li class="list-group-item"><button class="btn btn-primary" type="submit" style="background:linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)),url({% static 'snmov/img/kriheader.svg' %}); padding:10px; height:100%;width:30%;object-fit:cover;">My 2&#162</button></li>
                    </ul>
                </form>

            </div>
        </small>
    </div>
</div>



{% endblock %}