{% extends 'base.html' %}

{% block meta_extend %}
    {% url 'homepage' as home %}
    {% if request.get_full_path == home %}

    {% else %}
        <meta name="title" content="{{ meta.title }}">
        <meta name="description" content="{{ meta.description }}">
        <meta name="robots" content="index, follow">
        <meta name="googlebot" content="index, follow">
    {% endif %}
{% endblock %}


{% block javascript %}



{% endblock %}


{% block content %}



    <div class="row">
    {% include 'snmov/list-inline.html' with product=object detail=True %}


    {% if request.user.is_authenticated %}
        {% if request.user.is_staff %}
            <div class="col-12">
                <a href="{{ object.get_edit_url }}">Edit</a>
                <a href="{{ object.get_delete_url }}">Delete</a>
            </div>
        {% endif %}
    {% endif %}

    </div>

{% endblock %}