{% load static %}
<a name="totop"></a>


{% if not detail %}

<div class="card mb-2">
    <img
        class="card-img-top"
        src="{{ article.image.url }}"
        alt="image of {{ article.title }}"
        width="270px">
    <h5 class="card-title">{{ article.title }}</h5>
    <p class="card-text ">{{ article.content | safe | linebreaks | truncatewords:23 }}</p>
    <div class="row text-center w-100 m-0 border-top">
        <div class="col border-right">
            <small>

                <svg xmlns="http://www.w3.org/2000/svg" height=24 data-name="Layer 1" viewBox="0 0 512 640" x="0px" y="0px"><title>Untitled-2</title><path d="M96.21,363.1c-9.6-6.69-19.34-12.92-28.46-20C44,324.84,24.29,303,12.2,275.23c-19.62-45-15.2-88.45,10.53-129.74C49.4,102.66,89,75.86,135.39,58.79c76.87-28.3,154.66-29.7,232.4-3.65,45.48,15.24,85.13,39.7,114.5,78.73,42.11,56,39.18,127.61-7.1,180.67-37.5,43-86,66.37-140.39,79.22-38,9-76.5,10.47-115.32,7.08-3.3-.29-7.53,1.78-10.23,4-41.4,34.85-88.9,56.88-141.67,68-4.81,1-9.71,1.63-14.58,2.34-6.17.9-11.21-.79-14.36-6.56s-2-11,1.91-15.77c4.55-5.51,9.19-11,14.18-16.07A161.74,161.74,0,0,0,96.21,363.1Z"/></svg>
                  {{ article.comments_count_multiplied }}</small>
        </div>
        <div class="col border-right">
            <small>
                <svg xmlns="http://www.w3.org/2000/svg" height=24 viewBox="0 0 13 18.75" x="0px" y="0px"><path fill-rule="evenodd" d="M225.7237,18.1321555 C223.445082,17.9286539 221.389184,15.615621 222.167984,12.5082871 C223.162048,9.32396029 226.388091,9.78792641 227.625348,4 C230.174515,6.31064362 231.198896,8.79235326 230.698491,11.4451289 C232.101851,11.7907384 233.068385,11.2383376 233.598092,9.78792641 C236.062199,11.9635432 235.274115,17.9563237 231.264322,19 C228.56438,18.3042158 227.094805,16.4236556 226.855596,13.3583193 C225.598407,14.4326908 225.221108,16.0239696 225.7237,18.1321555 Z" transform="translate(-222 -4)"/></svg>
                {{ article.likes }}
            </small>
        </div>
        <div class="col">
            <small>
                <svg xmlns="http://www.w3.org/2000/svg" height=25 version="1.1" x="0px" y="0px" viewBox="1 -1 100 125" style="enable-background:new 1 -1 100 100;" xml:space="preserve"><path d="M88.6,15.3c-5-5.1-11.7-7.9-19-7.9c-7,0-13.8,2.7-18.6,7.4C46,10,39.4,7.4,32.4,7.4c-7.2,0-13.9,2.8-18.9,7.8  c-5.1,5.1-7.8,11.8-7.8,19c0,7.2,2.8,13.9,7.8,19l37.1,37.2l0.4,0.4l37.6-37.6c5-5,7.8-11.7,7.8-18.9S93.6,20.3,88.6,15.3z"/></svg>
                {{ article.dislikes }}</small>
        </div>
    </div>
<a class="btn neww-success" href="{{ article.get_absolute_url }}">Read more...</a>
</div>


{% else %}
<div class="col-lg-8 mx-auto mt-4" >
<div>
    <h1 class="mt-2 card-title font-weight-bolder">{{ article.title }}</h1>
    <small>By <a class="text-info" href="{% url 'about' %}">Christopher Uzoewulu</a> {{ article.publish_date | date:"D M d Y" }}</small>
</div>

<img class="img-fluid mx-auto d-block" src="{{ article.image.url }}"
     alt="image of {{article.title}}">
<div class="row w-100 m-0 mb-2 d-flex justify-content-end">
    <small class="ml-auto">
        <a class="bg-dark white-text " href="https://theikjn.com/graphic-design/" target="_blank">
            THEIKJN
        </a>
    </small>
</div>

    <article style="font-family:Georgia;">{{ article.content | safe | linebreaks }}</article>

    <div class="row text-center w-100 m-0 border-top border-bottom">
        <div class="col border-right align-middle">
            <a class="btn" href="/article/{{article.slug}}/addc/">

                <svg xmlns="http://www.w3.org/2000/svg" height=24 data-name="Layer 1" viewBox="0 0 512 640" x="0px" y="0px"><title>Untitled-2</title><path d="M96.21,363.1c-9.6-6.69-19.34-12.92-28.46-20C44,324.84,24.29,303,12.2,275.23c-19.62-45-15.2-88.45,10.53-129.74C49.4,102.66,89,75.86,135.39,58.79c76.87-28.3,154.66-29.7,232.4-3.65,45.48,15.24,85.13,39.7,114.5,78.73,42.11,56,39.18,127.61-7.1,180.67-37.5,43-86,66.37-140.39,79.22-38,9-76.5,10.47-115.32,7.08-3.3-.29-7.53,1.78-10.23,4-41.4,34.85-88.9,56.88-141.67,68-4.81,1-9.71,1.63-14.58,2.34-6.17.9-11.21-.79-14.36-6.56s-2-11,1.91-15.77c4.55-5.51,9.19-11,14.18-16.07A161.74,161.74,0,0,0,96.21,363.1Z"/></svg>
                {{ article.comments.count }}
            </a>
        </div>
        <div class="col border-right align-middle">
            <a class="btn" href=#" onclick="document.getElementById('likebutton').submit()">
                <svg xmlns="http://www.w3.org/2000/svg" height=24 viewBox="0 0 13 18.75" x="0px" y="0px"><path fill-rule="evenodd" d="M225.7237,18.1321555 C223.445082,17.9286539 221.389184,15.615621 222.167984,12.5082871 C223.162048,9.32396029 226.388091,9.78792641 227.625348,4 C230.174515,6.31064362 231.198896,8.79235326 230.698491,11.4451289 C232.101851,11.7907384 233.068385,11.2383376 233.598092,9.78792641 C236.062199,11.9635432 235.274115,17.9563237 231.264322,19 C228.56438,18.3042158 227.094805,16.4236556 226.855596,13.3583193 C225.598407,14.4326908 225.221108,16.0239696 225.7237,18.1321555 Z" transform="translate(-222 -4)"/></svg>
                {{ article.likes }}
            </a>
        </div>
        <div class="col align-middle">
            <a class="btn" href=#" onclick="document.getElementById('dislikebutton').submit()">
                <svg xmlns="http://www.w3.org/2000/svg" height=25 version="1.1" x="0px" y="0px" viewBox="1 -1 100 125" style="enable-background:new 1 -1 100 100;" xml:space="preserve"><path d="M88.6,15.3c-5-5.1-11.7-7.9-19-7.9c-7,0-13.8,2.7-18.6,7.4C46,10,39.4,7.4,32.4,7.4c-7.2,0-13.9,2.8-18.9,7.8  c-5.1,5.1-7.8,11.8-7.8,19c0,7.2,2.8,13.9,7.8,19l37.1,37.2l0.4,0.4l37.6-37.6c5-5,7.8-11.7,7.8-18.9S93.6,20.3,88.6,15.3z"/></svg>
                {{ article.dislikes }}
            </a>
        </div>
    </div>

    <form id="likebutton" method="POST" action="/article/{{article.slug}}/userpreference/1/">
        {% csrf_token %}
        <input type="hidden">
    </form>

    <form id="dislikebutton" method="POST" action="/article/{{article.slug}}/userpreference/2/">
        {% csrf_token %}
        <input type="hidden">
    </form>

    <div class="d-flex justify-content-center d-none d-sm-block d-md-none mt-4">
        <a class="" target="_blank" href="https://shareasale.com/r.cfm?b=214271&amp;u=2313501&amp;m=25092&amp;urllink=&amp;afftrack="><img src="https://static.shareasale.com/image/25092/01_234x60a_v1.gif" border="0" alt="CanvasPop- Turn any photo into art." /></a>
    <!--                    <a class="hide-on-small-only" target="_blank" href="https://shareasale.com/r.cfm?b=372840&amp;u=2313501&amp;m=25092&amp;urllink=&amp;afftrack="><img src="https://static.shareasale.com/image/25092/728x90_00.gif" border="0" /></a>-->
    </div>

    <div class="d-none d-md-block d-lg-block mt-4">
        <a class="d-flex justify-content-center" target="_blank" href="https://shareasale.com/r.cfm?b=372839&amp;u=2313501&amp;m=25092&amp;urllink=&amp;afftrack="><img src="https://static.shareasale.com/image/25092/468x60_00.gif" border="0" /></a>
    </div>

    {% for c in article.comments.all %}
    <div class="col">
        <div class="row rounded-0 bg-light border-bottom border-warning p-1">
            <div class="col-10">
                <strong>{{ c.user_name }}</strong>
                {{ c.comment_cont | linebreaks }}
            </div>
            {% if request.user.is_authenticated %}
            {% if request.user == c.user_name %}
            <div class="col-2 align-self-end">
                <a href="{% url 'delete_comment' article.slug c.pk %}">Delete</a>
            </div>
            {% endif %}
            {% endif %}
        </div>
    </div>

    {% empty %}

    <div class="col">
        <div class="rounded-0 bg-light border-bottom border-warning pt-2 text-center">
            <strong><p>Be the first to add a comment</p></strong>
        </div>
    </div>

    {% endfor %}
    <div class="row w-100 m-2 d-flex justify-content-between">

            <a class="btn neww-success" href="{% url 'article' %}">more articles</a>

            <a class="btn neww-success" href="#totop">to top</a>

    </div>
</div>
{% endif %}



