{% extends "base.html" %}


{% block content %}

<div class="col p-1 mt-5 text-center">
    <div class="row">
        <div class="col">
            <div class="btn-group">
                <button type="button" class="neumorphic btn btn-sm dropdown-toggle border-0" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sort By
                </button>
                <ul class="dropdown-menu rounded-0">
                    <li><a class="dropdown-item {% if request.GET.sort == 'earliest' %}active{% endif %}" href="?sort=earliest">Earliest</a></li>
                    <li><a class="dropdown-item {% if request.GET.sort == 'latest' %}active{% endif %}" href="?sort=latest">Latest</a></li>
                    <li><a class="dropdown-item {% if request.GET.sort == 'title' %}active{% endif %}" href="?sort=title">Title</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


{% for object in object_list %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card m-2">
                <div class="card-body">
                    <div class="row justify-content-between border-bottom">
                        <div class="col-8">
                            <h6 class="fs-5 m-0" style="font-weight:bold;">{{ object.title }}</h6>
                        </div>
                        <div class="col-4">
                            {{ object.publish_date | date:"M d, Y" }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 align-self-center">
                            {% if object.gif_model %}
                                <img class="img-fluid mx-auto d-block p-2" src="{{ object.gif_model.url }}" alt="GIF of {{object.title}}">
                            {% else %}
                                <img class="img-fluid mx-auto d-block p-2" src="{{ object.image.url }}" alt="image of {{object.title}}">
                            {% endif %}
                        </div>
                        <div class=" col-8">
                            <p class="card-text mb-0">
                                <small>{{ object.content | safe | linebreaks | truncatewords:22 }}</small>
                            </p>
                            
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="d-flex justify-content-center align-items-center border-top pt-1">
                            {% comment %}
                            <small class="p-2">
                                <svg xmlns="http://www.w3.org/2000/svg" height=24 viewBox="0 0 13 18.75" x="0px" y="0px" style="fill:#DC2229"><path fill-rule="evenodd" d="M225.7237,18.1321555 C223.445082,17.9286539 221.389184,15.615621 222.167984,12.5082871 C223.162048,9.32396029 226.388091,9.78792641 227.625348,4 C230.174515,6.31064362 231.198896,8.79235326 230.698491,11.4451289 C232.101851,11.7907384 233.068385,11.2383376 233.598092,9.78792641 C236.062199,11.9635432 235.274115,17.9563237 231.264322,19 C228.56438,18.3042158 227.094805,16.4236556 226.855596,13.3583193 C225.598407,14.4326908 225.221108,16.0239696 225.7237,18.1321555 Z" transform="translate(-222 -4)"/></svg>
                                {{ object.likes }}
                            </small>
                            <small class="p-2">
                                <svg xmlns="http://www.w3.org/2000/svg" height=25 version="1.1" x="0px" y="0px" viewBox="1 -1 100 125" style="enable-background:new 1 -1 100 100;" xml:space="preserve"><path d="M88.6,15.3c-5-5.1-11.7-7.9-19-7.9c-7,0-13.8,2.7-18.6,7.4C46,10,39.4,7.4,32.4,7.4c-7.2,0-13.9,2.8-18.9,7.8  c-5.1,5.1-7.8,11.8-7.8,19c0,7.2,2.8,13.9,7.8,19l37.1,37.2l0.4,0.4l37.6-37.6c5-5,7.8-11.7,7.8-18.9S93.6,20.3,88.6,15.3z"/></svg>
                                {{ object.dislikes }}
                            </small>
                            {% endcomment %}
                            <a class="neumorphicc p-0 font-weight-bolder" href="{{ object.get_absolute_url }}">continue</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}




 {% if is_paginated %}
 <nav class="row w-100" aria-label="Page navigation example">
     <ul class="pagination text-dark mx-auto d-flex justify-content-center">
         {% if page_obj.has_previous %}
             <li class="page-item"><a class="page-link text-dark" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
         {% else %}
             <li class="page-item page-link disabled"><span>Previous</span></li>
         {% endif %}
         {% for i in paginator.page_range  %}
             {% if page_obj.number == i %}
                 <li class="page-item page-link active b-0" style="background-color: #f9a602;"><span class="text-dark"> {{ i }} <span class="sr-only"></span></span></li>
             {% else %}
                 <li class="page-item" ><a class="page-link text-dark" href="?page={{ i }}">{{ i }}</a></li>
             {% endif %}
         {% endfor %}
         {% if page_obj.has_next %}
             <li class="page-item" ><a class="page-link text-dark" href="?page={{ page_obj.next_page_number }}">Next</a></li>
         {% else %}
             <li class="page-item page-link disabled"><span>Next</span></li>
         {% endif %}
     </ul>
 </nav>
 {% endif %}
 

    </div>

{% endblock %}