{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}


        <div class="row">
            <div class="col-lg-4 col-md-6 mx-auto mt-5">
                <div class="center">

                    {% if title %}
                        <h4>{{ title }}</h4>
                    {% endif %}

                </div>
                <form class="left-align" style="margin:0 2%;" method="POST">
                    {% csrf_token %}

                    <ul class="list-group border-0">
                        <li class="list-group-item  border-0">{{ form|crispy }}</li>
<!--                    </ul>-->
<!--                    <ul class="center row">-->
                        <li class="list-group-item text-center border-0"><button class="btn btn-success" type="submit">Sign In</button></li>
                    </ul>
                </form>
                <p class="text-center">
                Don't have an account? <a href="/register"><strong>Register here</strong></a>.
                </p>

            </div>
        </div>





{% endblock %}