{% extends 'base.html' %}

{% block javascript %}

<!--    <script>-->
<!--        $("#div_id_username").change(function () {-->
<!--            var form = $(this).closest("form");-->
<!--            $.ajax({-->
<!--                url: form.attr("data-validate-username-url"),-->
<!--                data: form.serialize(),-->
<!--                dataType: 'json',-->
<!--                success: function (data) {-->
<!--                    if (data.is_taken) {-->
<!--                        alert(data.error_message);-->
<!--                    }-->
<!--                }-->
<!--            });-->
<!--        });-->
<!--    </script>-->

{% endblock %}


{% block content %}

{% load crispy_forms_tags %}




        <div class="row">
            <div class="col s12 m8 l6 card right" style="width-max: 25rem">
                <div class="center" style="font-weight:bold;">

                    {% if title %}
                        <h4>{{ title }}</h4>
                    {% endif %}

                </div>
                <form class="left-align black-text" style="margin:0 2%;" method="POST">
                    {% csrf_token %}
                    <ul class="row">
                        <li class="">{{ form1|crispy }}</li>
                    </ul>
                    <ul class="row center">
                        <li class="list-group-item"><button class="btn " type="submit">Sign Up</button></li>
                    </ul>
                </form>
                <p class="center row">
                Have an account? <a href="/login"><strong>Login</strong></a> instead
                </p>
                <div class="center">
                    <a href="/terms">Terms of Use</a>
                </div>

            </div>
        </div>

{% endblock %}