{% extends 'base.html' %}

{% block content %}

{% load static %}

    <div class="container my-5 position-relative">
        <div class="col-sm-6 mx-auto ">
            <div class="card rounded-0 border-right-0 border-left-0" style="width-max: 25rem">
                <div class="card-header rounded-0 text-center">
                    <h5>About me </h5>
                </div>
                <div class="row center-align">
                    <div class="col s12">
                        <div class="card rounded-0 border-right-0 border-left-0 white darken-1 z-depth-2">

                            <div class="card-content text-justify p-3 black-text">
                                <img src="{% static 'snmov/img/about.jpg' %}" alt="..." class=" m-2 img-thumbnail w-50 float-right">
                                <p>Hello there, I'm Christopher Uzoewulu, I’m a Web Development enthusiast from Nigeria, currently living in Canada. I write about my thoughts on how we could be motivated to live better and achieve greater feats as a society.</p>

<p>My professional background is pretty diverse; I’m a Civil Engineering graduate, Certified Associate in Project Management, Certified Quality Technician, and I’m currently working as a Data Quality Administrator. Because I love to learn new things, my career interest has taken a few turns over the past 5years. In that time, I’ve switched between seven jobs(part time and full time), and met a tonne of wonderful people that have helped me make some positive life changing decisions.</p>

<p>I built this web app primarily as a side project to improve my Django skills, and for the most part, I had no idea what kind of content it was going to have. I took a short trip into my past and figured I’ve indirectly learned more about life from literally over a thousand people, so I thought this would be a good platform to share my learning with you.</p>

<p>The name of this blog(in as much as I don’t like to call it this), was self inspired. I figured most people(me) don’t always want to listen to motivational speakers talk about how/why they should “aspire to acquire the desire that they admire”, but deep down, they need that extra push - that inner energy to get through a project or a difficult time or to recognize and appreciate their little gains. From experience, there’s no better feeling than when that motivation nicely sneaks up on you.</p>

<p>I hope you enjoy my articles well enough to spread the word, and please add your two cents and reactions, because I'd love to learn from you too. </p>

Feel free to <a href="/contact">contact me</a> for jobs, and you can also check me out on <a href="https://www.linkedin.com/in/mruzo" target="_blank">LinkedIn</a>.
</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}