{% extends 'base.html' %}

{% block content %}

{% load static %}



<div class=" col-md-8 mx-auto text-justify">

    <div class="row mt-5">
        <div class="col-12">
            <div class="p-1">

                
<p>My name is Ada Maduka. I am a creative who loves to organize chaos with uniquely chosen textiles based on a target client profile, a dash of African style and an artisan finishing.</p>&nbsp;

<p><strong>ADAMADUKA</strong> is all about giving clients an oddly but beautifully crafted look via style and elegance for each client. My designs aims to enhance the natural figure and boost confidence with each glance and stride respectively.</p>&nbsp;

<p>Step into my world and permit me the opportunity to bring out the best in you in a wide choice of fashion designs.</p>&nbsp;


<!-- <div class="d-flex justify-content-center">
    <img class="" src="{% static 'snmov/img/v3.svg' %}" alt="" width="33%" >
</div> -->

            </div>
        </div>
    </div>

</div>



{% endblock %}