

{% block content %}

{% load static %}

<div class="row position-relative">
    {% for item in article_list %}
    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="card">
            <!-- Display either the GIF or image -->
            {% if item.media_url %}
                <img class="card-img-top mb-2" src="{{ item.media_url }}" alt="Media for {{ item.article.title }}" width="270px">
            {% else %}
                <p>No image available</p>
            {% endif %}
            
            <div class="card-body">
                <div class="row border-bottom">
                    <div class="col-8">
                        <h5 class="card-title font-weight-bolder px-2 m-0">{{ item.article.title }}</h5>
                    </div>
                    <div class="col-4">
                        {{ item.article.publish_date | date:"M d, Y" }}
                    </div>
                </div>
                <article class="card-subtitle px-2">{{ item.article.content | safe | linebreaks | truncatewords:23 }}</article>
            </div>
            
            <div class="card-footer">
                <a class="neumorphicc col-4 float-right fw-bolder" style="background: #FFBC00;" href="{{ item.article.get_absolute_url }}">continue...</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="card mb-4 col-5 col-md-3 mx-auto bg-transparent border-0">
    <a class="d-flex justify-content-center neumorphic" href="/article"><h6 class="fw-bolder my-1">other roads</h6></a>
</div>

{% endblock %}
