

{% block content %}

{% load static %}


    <div class="row  position-relative">
        {% for article in article_list %}
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card">
                    <img class="card-img-top mb-2" src="{{ article.image.url }}" alt="image of {{ article.title }}" width="270px">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bolder px-2 m-0">{{ article.title }}</h5>
                        <article class="card-subtitle px-2">{{ article.content | safe | linebreaks | truncatewords:23 }}</article>
                    </div>
                    <div class="card-footer">
                        <a class="neumorphicc col-4 float-right fw-bolder" style="background: #FFBC00;"  href="{{ article.get_absolute_url }}">continue...</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="card mb-4 col-5 col-md-3 mx-auto bg-transparent border-0">
        <a class="d-flex justify-content-center neumorphic "  href="/article"><h6 class="fw-bolder my-1">other roads</h6></a>
    </div>


{% endblock %}