<!DOCTYPE html>
{% load static %}
{% load meta %}
{% load crispy_forms_tags %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block meta_extend %}
    <title>Sneaky Motivator | Articles to live by. </title>
    <meta name="description" content="Articles on motivation to learn, improve and live better. Come get the motivation you didn't know you needed.">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@sneakymotivator" />
    <meta name="twitter:title" content="Five-minute Articles to live by" />
    <meta name="twitter:description" content="Check out more articles on Sneakymotivator" />
    <meta name="twitter:image" content="https://sneakymotivator.s3.amazonaws.com/static/snmov/img/footer.png" />
    {% endblock %}
    <link rel="shortcut icon" type="image/png" href="{% static 'snmov/img/wbicon.png' %}"/>
    <link rel="stylesheet" href="{% static 'tinymce/css/prism.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Marmelad&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin|Marmelad&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'snmov/css/sm.css' %}">
    <style>


    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body class="container black" style="font-family: 'Cabin', sans-serif;">
    <header id="">

        <div class="">
            {% include 'navbar.html' %}
        </div>

    </header>
    <div class="center-align" style="position:relative;width:20%;z-index:4;">
        {% include 'toasts.html' %}
    </div>
    <main class="" style="background:url({% static 'snmov/img/bhmbgbg.png' %}) no-repeat left top fixed;
    background-size:cover;
    height:100%;
    overflow:hidden;">



        <div class="container" style="padding-bottom: 48px;">
        {% block content %}

        {% endblock %}

        </div>

    </main>

    <div class="page-footer hide-on-large-only" style="position:fixed;bottom:0;width:100%;padding:0;z-index:1;">
        <ul class="tabs tabs-fixed-width tab-demo z-depth-1" style="background:#fbe9e7;">
        <li class="tab" style="margin:5px 5px;">
<!--            home-->
            <a class="black-text" href="{% url 'homepage' %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path fill="currentColor" d="M24 12.148l-1.361 1.465-10.639-9.883-10.639 9.868-1.361-1.465 12-11.133 12 11.148zm-4 1.749l-2 10.103h-12l-2-10.103 8-7.444 8 7.444zm-7 6.103c0-.552-.448-1-1-1s-1 .448-1 1 .448 1 1 1 1-.448 1-1zm1-5c0-1.105-.896-2-2-2s-2 .895-2 2 .896 2 2 2 2-.895 2-2z"/>
            </svg>
            </a>
        </li>
        <li class="tab" style="margin:5px 5px;">
<!--            about-->
            <a class="black-text" href="{% url 'about' %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm1 18h-2v-8h2v8zm-1-12.25c.69 0 1.25.56 1.25 1.25s-.56 1.25-1.25 1.25-1.25-.56-1.25-1.25.56-1.25 1.25-1.25z"/></svg>
            </a>
        </li>
        <li class="tab" style="margin:5px 5px;">
<!--            articles-->
            <a class="black-text" href="{% url 'article' %}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M7 16h13v1h-13v-1zm13-3h-13v1h13v-1zm0-6h-5v1h5v-1zm0 3h-5v1h5v-1zm-17-8v17.199c0 .771-1 .771-1 0v-15.199h-2v15.98c0 1.115.905 2.02 2.02 2.02h19.958c1.117 0 2.022-.904 2.022-2.02v-17.98h-21zm19 17h-17v-15h17v15zm-9-12h-6v4h6v-4z"/></svg>
            </a>
        </li>
        <li class="tab" style="margin:5px 5px;">
<!--            contact-->
            <a class="black-text" href="{% url 'contact' %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M13.718 10.528c0 .792-.268 1.829-.684 2.642-1.009 1.98-3.063 1.967-3.063-.14 0-.786.27-1.799.687-2.58 1.021-1.925 3.06-1.624 3.06.078zm10.282 1.472c0 6.627-5.373 12-12 12s-12-5.373-12-12 5.373-12 12-12 12 5.373 12 12zm-5-1.194c0-3.246-2.631-5.601-6.256-5.601-4.967 0-7.744 3.149-7.744 7.073 0 3.672 2.467 6.517 7.024 6.517 2.52 0 4.124-.726 5.122-1.288l-.687-.991c-1.022.593-2.251 1.136-4.256 1.136-3.429 0-5.733-2.199-5.733-5.473 0-5.714 6.401-6.758 9.214-5.071 2.624 1.642 2.524 5.578.582 7.083-1.034.826-2.199.799-1.821-.756 0 0 1.212-4.489 1.354-4.975h-1.364l-.271.952c-.278-.785-.943-1.295-1.911-1.295-2.018 0-3.722 2.19-3.722 4.783 0 1.73.913 2.804 2.38 2.804 1.283 0 1.95-.726 2.364-1.373-.3 2.898 5.725 1.557 5.725-3.525z"/></svg>
            </a>
        </li>
        {% if user.is_authenticated %}
          <li class="tab" style="margin:5px 5px;">
<!--              logout-->
            <a class ="black-text" href="{% url 'logout_req' %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path fill="currentColor" d="M16 9v-4l8 7-8 7v-4h-8v-6h8zm-16-7v20h14v-2h-12v-16h12v-2h-14z"/>
              </svg>
              <span class="text-capitalize" style="color: #7440bd;">{{user.first_name|title}}</span></a>
          </li>
        {% else %}
          <li class ="tab" style="margin:5px 5px;">
<!--              login-->
            <a class ="black-text" href="/login?next={{request.path}}">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path fill="currentColor" d="M15.366 0c-6.248 0-8.665 7.498-3.77 12.4 3.134 3.14 7.864 3.498 10.566.792 4.559-4.566.008-13.192-6.796-13.192zm4.909 11.287c-1.985 1.988-5.062.916-4.812-1.718.056-.59-.442-1.086-1.029-1.029-2.609.249-3.709-2.822-1.714-4.821 1.995-1.998 5.062-.895 4.812 1.718-.056.594.444 1.087 1.029 1.03 2.607-.248 3.71 2.82 1.714 4.82zm-11.798 7.053l2.119 2.122-1.413 1.416-1.413-1.416-.706.708 1.413 1.415-1.413 1.415-2.119-2.123-2.12 2.123-2.825-2.83 8.891-8.905c.38.547.811 1.067 1.293 1.55.476.477.992.902 1.534 1.279l-3.241 3.246z"/>
              </svg>
            </a>
          </li>
        {% endif %}

      </ul>
    </div>


    <footer class="page-footer black hide-on-med-and-down">

        <div class="container center">
            <div class="row">
<!--                <img class="card-img-bottom img-fluid" src="{% static 'snmov/img/footer.png' %}" alt="">-->
                <div class="">
<!--                    <div class="col l6 s12">-->
<!--                        <h5 class="white-text">{{feedback}}</h5>-->

<!--                        <form style="margin:0 3%;" method='POST' action='.' enctype="multipart/form-data">-->
<!--                            {% csrf_token %}-->
<!--                            {{ form|crispy }}-->
<!--                            <ul class="center">-->
<!--                                <li class=""><button class="btn row center deep-orange darken-3" type="submit" style="">Send</button></li>-->
<!--                            </ul>-->
<!--                        </form>-->

<!--                    </div>-->
                    <div class="col l4 offset-12 s12">
                        <h5 class="white-text">Other Links</h5>
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="/about">About</a></li>
                            <li><a class="grey-text text-lighten-3" href="/contact">Contact</a></li>
                            <li><a class="grey-text text-lighten-3" href="/privacy">Privacy Policy</a></li>
                            <li><a class="grey-text text-lighten-3" href="/cookies">Cookies Policy</a></li>
                            <li><a class="grey-text text-lighten-3" href="/terms">Terms of Use</a></li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright center" style="margin:0 auto;width:200px;">
                &copy 2020 Christopher Uzoewulu
            </div>
        </div>
    </footer>
    <script data-ad-client="ca-pub-2701198258292083" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.1.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="{% static 'snmov/js/sm.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{% static 'tinymce/js/prism.js' %}"></script>
    <script>

    </script>
    {% block javascript %}
    {% endblock %}

</body>
