

{% block content %}

{% load static %}


    <div class="row  position-relative">
        {% for category in craft_categories %}
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card">
                    <!-- <img class="card-img-top mb-2" src="{{ article.image.url }}" alt="image of {{ article.title }}" width="270px"> -->
                    <div class="card-body">
                        <h5 class="card-title font-weight-bolder px-2 m-0">{{ category.name }}</h5>
                        <article class="card-subtitle px-2">{{ category.content | safe | linebreaks | truncatewords:23 }}</article>
                    </div>
                    <div class="card-footer">
                        <a class="neumorphicc col-4 float-right" style="background: #FFBC00;"  href="{{ article.get_absolute_url }}">continue...</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- <div class="card mb-4 col-5 col-md-3 mx-auto bg-transparent border-0">
        <a class="d-flex justify-content-center font-weight-bold neumorphic"  href="/article"><h6 class="my-1">more dump</h6></a>
    </div> -->


{% endblock %}