{% extends "base.html" %}
{% load static %}

{% block content %}

{% load crispy_forms_tags %}


<div class="row">
    <div class="col-l8 mx-auto">

        <div class="text-center mt-5">
            {% if title %}
                <h3 >
                    <u>{{ title }}</u>
                </h3>
            {% endif %}

        </div>
        <ul>

            <form class="col mx-auto" method='POST' action='.' enctype="multipart/form-data">
                <li class="list-group row">
                    {% csrf_token %}
                    {{ form|crispy }}
                </li>

                <li class="list-group row text-center">
                    <button type="submit" class=" btn neww-success">Send</button>
                </li>
            </form>
         </ul>

    </div>
</div>

{% endblock %}