{% extends 'base.html' %}

{% block content %}

<!--    {% url 'homepage' as my_view %}-->
<!--    {% if request.path == my_view %}-->

<section class="row my-5 position-relative" style="background-color: inherit; display: flex; justify-content: center; align-items: center; min-height: 30vh;">
    <div class="col card mx-auto position-relative rounded-0 border-0 d-flex justify-content-center align-items-center" style="background-color:inherit;">

        <div class="text-center with-border" id="" style="opacity: 1">

            <p class="landtext display-4 font-weight-bold">
                Vibrant comfort for your work or play space
            </p>

        </div>
    </div>
</section>


<!--    {% endif %}-->

<div id="pictureCarousel" class="carousel slide border border-dark" style="background-color: white;" data-ride="carousel">
    <div class="carousel-inner">
        {% for picture in pictures %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <img src="{{ picture.image.url }}" class="d-block w-100 border-2" alt="{{ picture.caption }}">
                <div class="carousel-caption d-none d-md-block">
                    <h5>{{ picture.product.title }}</h5>
                    <p> {{ picture.caption }} </p>
                </div>
            </div>
        {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#pictureCarousel" role="button" data-slide="next">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#pictureCarousel" role="button" data-slide="prev">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="card mt-2  col-md-6 mx-auto rounded-0" >
    <a class="btn justify-content-center font-weight-bolder text-dark rounded-0 my-auto" role="button" aria-disabled="true" style="background-color: #FFBC00;" href="https://www.amazon.ca/dp/B0C6HH585D?ref=myi_title_dp"  target="_blank">
        <strong>ORDER YOURS NOW! </strong>
        
    </a>
</div>

<!-- <div class="card my-5  col-md-6 mx-auto rounded-0" >
    <a class="btn justify-content-center font-weight-bolder text-dark rounded-0 my-auto" role="button" aria-disabled="true" style="background-color: #FFBC00;" href="/">
        <strong>other products coming soon...</strong>
        
    </a>
</div> -->

{% endblock %}