{% extends 'base.html' %}

{% block content %}


<section class="row my-3 position-relative" style="background-color: inherit; display: flex; justify-content: center; align-items: center; min-height: 22vh;">
    <div class="col card mx-auto position-relative rounded-0 border-0 d-flex justify-content-center align-items-center" style="background-color:inherit;">

        <div class="text-center land-border" id="" style="opacity: 1">

            <h2 class="landtext">
                    VIBRANT COMFORT FOR YOUR WORK OR PLAY SPACE
            </h2>

        </div>
    </div>
</section>


<div class="container">
    
        <div class="col-sm-6">           
            {% for product in available_products %}
            <div class="card my-1 border-0" >

                <div id="availablePictureCarousel_{{product.id}}" class="carousel slide" style="background-color: white;" data-ride="carousel">
                    <div class="carousel-inner">
                        {% for picture in available_pictures %}
                            {% if picture.object_id == product.id %}
                                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                    <img src="{{ picture.image.url }}" class="d-block w-100 border-2" alt="{{ picture.caption }}">
                                    <!-- <div class="carousel-caption text-start d-block p-2 m-0 bg-secondary">
                                        <h1 class="subtext-btn-sm m-0"><strong>{{ picture.content_object.title }}</strong></h1>
                                        <p> {{ picture.caption }} </p>
                                    </div> -->
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#availablePictureCarousel_{{ product.id }}" role="button" data-slide="next">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#availablePictureCarousel_{{ product.id }}" role="button" data-slide="prev">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>


                <div class="card-body border-top">
                <h5 class="card-title subtext-btn-sm">{{ product.title }}</h5>
                <p class="card-text subtext-sm border-top">{{ product.description }}</p>
                </div>
                
            </div>
            {% endfor %}
        </div>
    


        <!-- <div id="availablePictureCarousel" class="carousel slide" style="background-color: white;" data-ride="carousel">
            <div class="carousel-inner">
                {% for picture in available_pictures %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <img src="{{ picture.image.url }}" class="d-block w-100 border-2" alt="{{ picture.caption }}">
                            <div class="carousel-caption text-start d-block p-2 m-0 bg-secondary">
                                <h1 class="subtext-btn-sm m-0"><strong>{{ picture.content_object.title }}</strong></h1>
                                <p> {{ picture.caption }} </p>
                            </div>
                        </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#availablePictureCarousel" role="button" data-slide="next">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#availablePictureCarousel" role="button" data-slide="prev">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div> -->
    </div>

    <div class="card mt-5 col-6 col-md-2 mx-auto bg-light border-0" >
        <a class="btn shadow p-2 mb-5 bg-body-tertiary justify-content-center font-weight-bolder text-dark rounded-5 my-auto" role="button" aria-disabled="true" style="background-color: #FFBC00;" href="https://www.amazon.ca/dp/B0C6HH585D?ref=myi_title_dp"  target="_blank">
            <h3 class="subtext-btn-sm m-0"><strong> GET YOURS </strong></h3>
        </a>
    </div>

    <div class="row border-top bd-light my-5 mx-auto">
        <div class="container text-center test-border mt-2 mx-auto" id="" style="opacity: 1">

            <h5 class="subtext my-2">
                testimonials
            </h5>
        </div>
        
        <div class="container text-center my-3 mx-auto" id="" style="opacity: 1">

            <div class="card-deck">
                {% for testimonial in testimonials %}
                <div class="card">
                    <img src="{{ testimonial.image.url }}" class="card-img-top" alt="{{ testimonial.caption }}">
                </div>
                {% endfor %}
            </div>

        </div>

    </div>


    <div class="row border-top bd-light my-5 mx-auto">

        <div class="container text-center test-border mt-2 mx-auto" id="" style="opacity: 1">

            <h5 class="subtext my-2">
                out of stock <br>
            </h5>
        </div>

        <div class="row my-3">
            {% for picture in unavailable_pictures %}
                <div class="col-sm-6">           

                    <div class="card my-1 border-0" >
                        <img src="{{ picture.image.url }}" class="card-img-top" alt="{{ picture.caption }}">
                        <div class="card-body border-top">
                        <h5 class="card-title subtext-btn-sm">{{ picture.content_object.title }}</h5>
                        <p class="card-text subtext-sm border-top">{{ picture.caption }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>        
    </div>

    <div class="container text-center">
        <h6 class="subtext my-2">
            get notified on stock availability
        </h6>
        <form id="stock_notification" method="post" action="{% url 'homepage' %}" class="text-center my-4">
            {% csrf_token %}
            
            <div class="list-group list-group-flush form-group custom-checkbox">
                {% for checkbox in form.products %}
                    <div class=" mx-auto subtext-btn-sm">
                    {{ checkbox }} 
                    {% if form.is_bound and form.errors.products %}
                        <p class="text-danger">{{ form.errors.products.0 }}</p>
                    {% endif %}
                    </div>
                {% endfor %}
            </div>
        
            <div class="form-group">
                <div class="col-md-4 mx-auto">
                    <input type="text" name="first_name" class="form-control text-center my-2 border-bottom custom-placeholder" placeholder="first name" required>
                    <input type="text" name="last_name" class="form-control text-center my-2 custom-placeholder" placeholder="last name" required>
                    <input type="email" name="email" class="form-control text-center my-2 custom-placeholder" placeholder="email@address.com" required>
                </div>
            </div>
            
            <button class="btn subtext-btn-sm shadow p- mb-0 bg-body-tertiary justify-content-center font-weight-bolder text-dark rounded-5 mt-4" role="button" aria-disabled="true" style="background-color: #FFBC00;" type="submit">Notify Me</button>
        </form>

    </div>

    <div class="row border-top bd-light mt-5 mx-auto">

        <div class="container text-center test-border mx-auto" id="" style="opacity: 1">

            <h5 class="subtext my-2">
                about us
            </h5>
        </div>
        
        <div class="container text-center my-1 mx-auto" id="" style="opacity: 1">
            <div class="card col-md-6 mx-auto bg-light border-0">
                <div class="card-body p-0">
                    <!-- Use 'white-space: pre-wrap' to preserve line breaks and wrap text -->
                    <pre class="card-text subtext-sm" style="white-space: pre-wrap;">
                        {{ about.body|safe }}
                    </pre>
                </div>
            </div>
        </div>

    </div>

    <!-- <div class="row border-top bd-light my-5 mx-auto">

        <div class="container text-center test-border mt-5 mx-auto" id="" style="opacity: 1">

            <h5 class="subtext my-2">
                Contact Us
            </h5>
        </div>
        
        <div class="container text-center my-3 mx-auto" id="" style="opacity: 1">

            <div class="card mt-2 col-2 mx-auto bg-light border-0" >
                <a class="btn subtext-btn-sm shadow p-2 mb-5 bg-body-tertiary justify-content-center font-weight-bolder text-dark rounded-5 my-auto" role="button" aria-disabled="true" style="background-color: #FFBC00;" href="/contact"  target="_blank">
                    <strong> by email </strong>
                </a>
            </div>


        </div> -->

    </div>

</div>
{% endblock %}