{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light p-1 px-3">
  <a class="navbar-brand m-0" href=" /"><img src="{% static 'snmov/img/head1.png' %}" width="281" height="31.6"></a>
  <button class="navbar-toggler border-0 p-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse text-dark" id="navbarSupportedContent">
    <ul class="navbar-nav m-auto w-100 justify-content-end text-center">
      <li class="nav-item">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/article">Articles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
      {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout {{user.username|title}}</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/login">Login/Register</a>
        </li>
      {% endif %}
    </ul>
<!--    <form class="form-inline m-2 my-lg-0" action="/search/">-->
<!--      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
<!--      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
<!--    </form>-->
  </div>
</nav>


