{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row burger">
    <div class=" col-lg-4 col-md-6 mx-auto mt-2">
        <form class="card left-align" style="margin:0 2%;" method="POST">
            <!-- Centered Reset Password Title -->
            <div class="card-title border-bottom text-center">
                <h4>Reset Password</h4>
            </div>

            {% csrf_token %}
            <ul class="list-group border-0">
                <!-- Form Fields in Two Columns (Even on Mobile) -->
                <li class="list-group-item border-0 py-0">
                    <div class="row">
                        <!-- Email Field -->
                        <div class="col">
                            {{ form.email|as_crispy_field }}
                        </div>
                    </div>
                </li>

                <!-- Request Password Reset Button -->
                <li class="list-group-item text-center border-0">
                    <button class="btn btn-primary" type="submit">Request Password Reset</button>
                </li>
            </ul>
        </form>

        <!-- Back to Login Link -->
        <p class="text-center b-text">
            Remember your password? <a href="/login"><strong><u>Login here</u></strong></a>.
        </p>
    </div>
</div>
{% endblock %}