{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row burger">
    <div class="col-lg-4 col-md-6 mx-auto mt-5">
        <!-- Card Layout for Consistency -->
        <div class="card left-align" style="margin:0 2%;">
            <!-- Centered Title -->
            <div class="card-title border-bottom text-center">
                <h4>Password Reset Complete</h4>
            </div>

            <!-- Success Message -->
            <div class="card-body">
                <p class="text-center">Your password has been reset.</p>
            </div>

            <!-- Sign In Link -->
            <div class="card-footer text-center">
                <p class="b-text">
                    <a href="{% url 'login_req' %}"><strong><u>Sign In Here</u></strong></a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}