{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container text-center p-0 mt-0">
    <div class="container mt-5 p-0 ">
    <h2 class="subtext-btn-sm text-center text-decoration-none">Select Shipping Option</h2>

    {% if error %}
        <div >
            <p class="alert alert-danger m-1">{{ error }}</p>
        </div>
    {% endif %}

    {% if rates %}

        <hr>

            <div class="table-responsive mt-4">

                <table class="table table-bordered table-striped table-sm text-center mb-0">
                    <thead class="thead-light">
                        <!-- Top header with image -->
                        <tr>
                            <th colspan="4" class="p-1">
                                <img src="{{ rates.0.provider_image_200 }}" alt="{{ rates.0.provider }}" style="height: 30px;">
                            </th>
                        </tr>
                        <!-- Column titles -->
                        <tr>
                            <th>Service</th>
                            <th>Days</th>
                            <th>Cost</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for rate in rates %}
                        <tr class="subtext-smm">
                            <td class="p-0 align-middle">{{ rate.servicelevel.name }}</td>
                            <td class="p-0 align-middle">{{ rate.estimated_days }}</td>
                            <td class="p-0 align-middle">${{ rate.amount }}</td>
                            <td class="p-1 align-middle">
                                <form method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="rate_id" value="{{ rate.object_id }}">
                                    <button type="submit" class="btn btn-success btn-sm">
                                        ${{ rate.total_with_shipping }}
                                    </button>
                                </form>
                            </td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>


            </div>

    {% else %}
        <p>No shipping options available.</p>
    {% endif %}
</div>
{% endblock %}
