{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success'%}
            <div class="toast rounded-0 text-dark" data-delay="2000">
              <div class="toast-body bg-success">
                {{message}}
              </div>
            </div>
        {% elif message.tags == 'info'%}
            <div class="toast rounded-0 text-dark" data-delay="2000">
              <div class="toast-body bg-info">
                {{message}}
              </div>
            </div>
        {% elif message.tags == 'warning'%}
            <div class="toast rounded-0 text-dark" data-delay="2000">
              <div class="toast-body bg-warning">
                {{message}}
              </div>
            </div>
        {% elif message.tags == 'error'%}
            <div class="toast rounded-0 text-dark" data-delay="2000">
              <div class="toast-body bg-danger">
                {{message}}
              </div>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}