{% extends "base.html" %}
{% load static %}

{% block content %}

<script type="text/javascript">
    // Dictionary of product URLs dynamically inserted by Django
    const gltf_file_url = "{{ gltf_file_url }}"

    // Function to detect if the user is on an iPhone
    function isIphone() {
        return /iPhone|iPad|iPod/i.test(navigator.userAgent);
    }

    // Function to get the correct URL based on device type
    function getModelUrl(slug) {
        const product = productUrls[slug];
        if (!product) return null;

        return isIphone() ? product.usdz : product.gltf;
    }
</script>

<h1>{{ scene.title }}</h1>
<p>Episode: {{ scene.episode.title }}</p>
<p>Order: {{ scene.order }}</p>
<p>Description: {{ scene.description }}</p>

<!-- Navigation Buttons -->
<div class="scene-navigation">
    {% if previous_scene_id %}
        <a href="{% url 'scene_detail' episode_id=scene.episode.id pk=previous_scene_id %}" class="btn btn-previous">Previous Scene</a>
    {% endif %}
    {% if next_scene_id %}
        <a href="{% url 'scene_detail' episode_id=scene.episode.id pk=next_scene_id %}" class="btn btn-next">Next Scene</a>
    {% endif %}
</div>

<h2>3D Intersection Model</h2>

<div id="model-container">
    {% if gltf_file_url %}
        <!-- This div will contain the Three.js canvas -->
        <div id="threejsModel" style="width: 100%; height: 400px;"></div>
    {% else %}
        <p>No 3D model available for this scene.</p>
    {% endif %}
</div>

<div id="dialogue-overlay" style="position: absolute; color: white; background-color: rgba(0, 0, 0, 0.5); padding: 10px; border-radius: 5px; display: none;">
    <!-- Dialogue overlay content will be populated dynamically -->
</div>

<button id="nextButton" style="position: absolute; right: 10px; top: 50%;">
    Next
</button>

<h2>POVs</h2>
<ul>
    {% for pov in scene.povs.all %}
    <li>{{ pov.character.name }}, Zoom: {{ pov.zoom_level }}</li>
    {% endfor %}
</ul>

<div id="model-container" data-gltf-url="{% if gltf_file_url %}{{ gltf_file_url }}{% endif %}">
    {% if not gltf_file_url %}
        <p>No 3D model available for this scene.</p>
    {% endif %}
</div>

<h2>Dialogues</h2>
<ul>
    {% for dialogue in scene.dialogues.all|dictsort:"order" %}
    <li>{{ dialogue.text|linebreaks|safe|slice:":-1"  }}</li>
    {% empty %}
    <li>No dialogues available for this scene.</li>
    {% endfor %}
</ul>

<h2>Social Media Links</h2>
<ul>
    {% for link in scene.social_links.all %}
    <li><a href="{{ link.url }}" target="_blank">{{ link.platform }}</a></li>
    {% endfor %}
</ul>

<script type="application/json" id="dialogues_data">
    {{ dialogues_json|safe }}
</script>

<script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
<!-- <script type="module" src="{% static 'snmov/js/sm-module.js' %}"></script> -->

{% endblock %}